<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Title{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">My Site</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'video_upload_form' %}">Upload Video</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'search_subtitles_form' %}">Search Subtitles</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    {% block content %}<a class="link" href="https://docs.google.com/document/d/1EHgcuWgjVu2GVhlVT4FD6aZtZGIcfnbfG1E8QYZnljs/edit?usp=sharing">How it is made?</a>{% endblock %}
</div>

<!-- Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"-->
<!--        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper"-->
<!--        integrity="sha384-gbpKPv+gI9qn/UiYyp+fDdEGmwuCuyux8k+MAVh5mhdJF7Vq3+/9HH2c5r5ZJFi5"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"-->
<!--        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+J9RSg8pL5gOpTwMWTt8EZI1gEYQvJ+"-->
<!--        crossorigin="anonymous"></script>-->
</body>
</html>
