{% extends 'index.html' %}

{% block content %}
  <h1>Search Subtitles</h1>
  <form action="{% url 'search_subtitles_form' %}" method="get">
    <div class="form-group">
      <label for="keywords">Keywords:</label>
      <input type="text" class="form-control" id="keywords" name="keywords" required>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  {% if search_results %}
    <h2>Search Results</h2>
    <ul>
      {% for result in search_results %}
       <li>
        <strong>Content:</strong> {{ result.content }}<br>
        <strong>Start Time:</strong> {{ result.start_time }}<br>
        <strong>End Time:</strong> {{ result.end_time }}<br>
        <strong>Video URL:</strong> <a href="{{ result.video_url }}">{{ result.video_url }}</a>
      </li>
      {% endfor %}
    </ul>
  {% else %}
  <p>It will take a minute to index the subtitle and save the video</p>
{% endif %}
{% endblock %}
